.btn {
  background-color: bisque;
  color: gray;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px 15px;
  height: 3rem;
  width: 9rem;
  font-size: 1.2rem;
  cursor: pointer;
}
.button {
  display: flex;
  justify-content: center;
}
